tensorflow==2.15.0
numpy==1.26.4
Pillow>=11.0.0
pandas>=2.2.2
matplotlib>=3.9.1
pydicom>=2.4.4
streamlit>=1.36.0
scipy==1.13.1
opencv-python==4.9.0.80
PyYAML>=6.0.2
python-box>=7.2.0
joblib>=1.4.2
reportlab>=4.2.2
scikit-learn==1.5.1
groq>=0.9.0
gdown
